/* client/src/components/Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #f8f8f8; /* Light grey background */
    border-bottom: 1px solid #e7e7e7;
  }
  
  .nav-brand {
      font-weight: bold;
      font-size: 1.2rem;
      color: #333;
      text-decoration: none;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }
  
  .nav-links li {
    margin-left: 1.5rem;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #555;
    font-weight: 500;
  }
  
  .nav-links a:hover {
    color: #000;
  }